/* body{
    background-color: #d0d0d0;
    padding-left: 20px;
    padding-right: 20px;
 */
/* Use Container Tag For Main */
.container{    
    width: 1260px;
    margin: 0 auto;
    background-color: #d0d0d0;
}
/* For Header items */
.top-header{
    width: auto;
    height: 140px;
    background-color: #ffffff;
}
/* Header Upper Line */
.top-header-bar{
      background-color:#894aa3;
      display: flex;
      height: 10px;
      flex-wrap: wrap;
}
/* For Search Bar */
.search-bar{
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    width: 216px;
    height: 20px;
    background-color: #ebebea;
}
/* For Search bar Flex */
.search-bar-main{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
/* For Header Title e.g Utopic Flowers */
.header-title{
    display: flex;
    justify-content: flex-Start;
    padding-left: 30px;
}
.header-title-text{
    font-size: 36px;
    line-height: 36px;
    color: #666666;
    font-family: "Georgia";
}
.header-title-text::first-letter {
    font-size: 140%;
}

/* For Navigation Section In Header */
.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}


.nav-sub-text{
    font-size: 12px;
    line-height: 0px;
    color: #999999;
    font-family: "Georgia";
}
.nav ul {
    list-style: none;
    text-align: center;
    padding-right: 30px;
}
.nav li {
    float: left;
}
.nav a {
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
    font-family: "Georgia";
    padding-inline-start: 40px;
}

.section-quotes{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebea;
}
.quotes-text{
    font-size: 30px;
    line-height: 40px;
    color: #333333;
    font-family: "Georgia";
    text-align: center;
    font-style: italic;
}
.section-quotes-bar{
    background-color: #e1e1e1;
    display: flex;
    height: 1px;
    flex-wrap: wrap;
}
.slider {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    width: auto;
}
.slide {
    width: auto;
    flex-shrink: 10;
    height: 380px;
}
.slider img{
    height: 100%;
    width: 100%;
}
.section-desc-main{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* height: 290px; */
    background-color: #ffffff;
}
.section-desc-sub{
    display: flex;
    /* justify-content: space-between; */
    height: 290px;
    align-items: center;
}

.section-desc-title{
    font-size: 20px;
    line-height: 24px;
    color: #894aa3;
    font-family: "Georgia";
    padding-left: 20px;
}
.section-desc-paragraph{
    width: 209px;
    height: 117px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Georgia";
    padding-left: 20px;
}

.section-cards{
    display: flex;
    justify-content: space-around;
    height: 420px;
    background-color: #ebebea;
    align-items: center;
}

.cards-main{
    width: 280px;
    height: 320px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 8px;
}
.card-image{
    height: 180px;
    width: 260px;
}

.card-desc{
    width: 250px;
    height: 57px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Georgia";
    text-align: center;
    padding-left: 14px;
}
.card-title{
    font-size: 16px;
    line-height: 19px;
    color: #894aa3;
    font-family: "Georgia";
}


.footerline{
    height: 1px;
    background-color: #e1e1e1;
}
footer{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    background-color: #ffffff;
}
.footer-title{
    width: 209px;
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    font-family: "Georgia";
}
.footer-desc{
    width: 209px;
    font-size: 13px;
    color: #999999;
    font-family: "Georgia";
}
.footer-blog-desc{
    width: 209px;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    font-family: "Georgia";}
.contact{
    width: 209px;
}
.quicklinks{
    width: 209px;
}
.blog{
    width: 209px;
}
.newsletter{
    width: 209px;
}
.links-footer{
    padding-inline-start: 0px;
    border-bottom: 2px solid #e6e6e6;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 17px;
    color: #999999;
    font-family: "Georgia";
}
.readmore{
    font-size: 12px;
    line-height: 0px;
    color: #874ca0;
    font-family: "Georgia";
    text-align: right;
}
.newsletter-textbox{
    border-color:#e6e6e6 ;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    font-family: "Georgia";
    width: 210px;
    height: 31px;
    border-radius: 7px;
    background-color: #e6e6e6;
}
.newsletter-submit-button{
    font-size: 13px;
    line-height: 21px;
    color: #874ca0;
    font-family: "Georgia";
    width: 80px;
    height: 31px;
    border-radius: 7px;
    background-color: #e6e6e6;
}

.copyrights{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #444444;
    padding-right: 30px;
    padding-left: 30px;
}
.copyrights-text{
    font-size: 12px;
    line-height: 14px;
    color: #d0d0d0;
    font-family: "Georgia";    
}